<div class="container" ng-controller="InfoController as info">
  <h3 ng-if="info.values.flag==false">
    Not Signed Up Yet .<a ui-sref="public.signUp"> Sign up Now!</a>
  </h3>

  <div ng-if="info.values.flag">


    <strong>First Name</strong> : {{info.values.firstName}} <br>
    <strong>Last Name</strong> : {{info.values.lastName}}<br>
    <strong>Email</strong> : {{info.values.email}}<br>
    <strong>Phone</strong> : {{info.values.phone}}<br>
    <!-- <strong>Menu Number</strong> : {{info.values.menuNumber}}<br> -->


<br>
  <div class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>{{info.details.short_name}}</div>
          <img class="img-responsive" width="250" height="150" ng-src="https://akramashraf.herokuapp.com/images/{{info.values.menuNumber}}.jpg" alt="{{$ctrl.menuItem.name}}">
        </div>
        <div class="menu-item-price">{{info.details.price_small | currency}}<span> {{info.details.small_portion_name}}</span> {{info.details.price_large | currency}} <span>{{info.details.large_portion_name}}</span></div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title">{{info.details.name}}</h3>
        <p class="menu-item-details">{{info.details.description}}</p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>
  </div>

</div>
